<!doctype html>
<html>
<head>
<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.which is googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
</head>
<body>
<!-- MDL Fixed Layout Container -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- Header Container -->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title  of Header -->
      <span class="mdl-layout-title">Header Title</span>
    </div>
    <!-- Tab Bar Container , and Tab links -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">England</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">USA</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">India</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">China</a>
      <a href="#scroll-tab-5" class="mdl-layout__tab">Japan</a>
      <a href="#scroll-tab-6" class="mdl-layout__tab">France</a>
    </div>
  </header>
    <!-- MDL Layout Header -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>
  <main class="mdl-layout__content">
    <!-- "is-active" class to set the default active tab -->
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
        <h1>London</h1>
      </div>
    </section>

    <!-- Tab No 2-->
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
         <h1>NewYork</h1>
      </div>
    </section>

    <!-- Tab No 3-->
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content">
       <h1>New Delhi</h1>
      </div>
    </section>

    <!-- Tab No 4-->
    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">
         <h1>Beijing</h1>
      </div>
    </section>

    <!-- Tab No 5-->
    <section class="mdl-layout__tab-panel" id="scroll-tab-5">
      <div class="page-content">
       <h1>Tokyo</h1>
      </div>
    </section>

    <!-- Tab No 6-->
    <section class="mdl-layout__tab-panel" id="scroll-tab-6">
      <div class="page-content">
         <h1>Paris</h1>
      </div>
    </section>

  </main>
</div>

</body>
</html>