{% include "orokorra/orriburua.html" %}
{% load mathfilters %}

<section>

    {% if memeDenak %}
{% for memea in memeDenak %}
    <article class="memea">
        <h1><a href="{%  url 'memea:details' memea.id %}"> <!-- url-a, beraren izena edo name atributua eta bidali beharrekoa -->
    {{ memea.izenburua }}</a></h1>
        <img src="{{ memea.argazkia.url }}" onclick="location.href ='{% url 'memea:details' memea.id %}'"><br>
        <span>{{ memea.datsegitKop|sub:memea.ezdatsegitKop }} puxtarri</span><br>
    <button class="btn btn-outline-primary"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Datsegit</button>
    <button class="btn btn-outline-primary"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Nagogait</button>
    <button class="btn btn-outline-primary"><i class="fa fa-comment-o" aria-hidden="true"></i> Utzi iruzkina!</button>
    </article>

{% endfor %}
{% else %}
<h2>Ez dago memerik oraindik.</h2>
{% endif %}
</section>

{% include "orokorra/orrioina.html" %}
